:root {
    --primary_color: #cfbd97;
    --second_color: #000000;
    --black: #1e1e1e;
    --white: #fff;
    --white2: #f5f5f5;
    --main_font: "Echelon";
    --trans: .3s ease-in;
}

.main_event {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainEvent_container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.event_top {
    width: 100%;
    display: flex;
    height: 88vh;
    justify-content: space-between;
    align-items: center;
}

.eventTop_right,
.eventTop_left {
    width: 50%;
}

.eventTop_right {
    position: relative;
}

.eventTop_right img {
    width: 100%;
}

.event_middle {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eventMiddle_right {
    width: 50%;
    height: 60%;
    position: relative;
}

.eventMiddle_right img {
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.eventMiddle_left p {
    width: min(600px, 100%);
}

.eventMiddle_left h3 {
    font-family: var(--main_font);
    font-size: clamp(30px, 5.5vw, 60px);
}

.eventMiddle_left a {
    background-color: var(--primary_color);
    font-family: var(--main_font);
    padding: 12px 24px;
    color: var(--white);
    font-size: clamp(20px, 2vw, 35px);
}

.event_bot {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventBot_left,
.eventBot_right {
    width: 50%;
}


.eventBot_right p {
    width: min(600px, 100%);
}

.eventBot_right h3 {
    font-family: var(--main_font);
    font-size: clamp(30px, 5.5vw, 60px);
}

.eventBot_right a {
    background-color: var(--primary_color);
    font-family: var(--main_font);
    padding: 12px 24px;
    color: var(--white);
    font-size: clamp(20px, 2vw, 35px);
}

@media (max-width: 980px) {
    .event_bot {
        flex-direction: column;
        justify-content: center;
    }

    .eventBot_right,
    .eventBot_left {
        width: 100%;
    }

    .eventBot_left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



@media (max-width: 800px) {
    .event_top {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .eventTop_right,
    .eventTop_left {
        width: 100%;
    }
}

@media (max-width: 980px) {
    .event_middle {
        flex-direction: column;
        justify-content: center;
    }

    .eventMiddle_left,
    .eventMiddle_right {
        width: 100%;
    }

    .eventMiddle_left {
        margin-bottom: 30px;
    }
}