footer {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: var(--black);
    color: var(--white) !important;
}

.footer_top {
    display: flex;
    flex-direction: column;
}

.footer_container {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 30px;
}

.footerTop_container {
    margin-bottom: 15px;
}

.footerTop_container h4 {
    font-family: var(--main_font);
    font-size: clamp(25px, 2vw, 35px);
    margin-bottom: 10px;
    font-weight: 600;
}

.footerTop_container ul li a {
    font-family: var(--main_font);
    font-size: clamp(23px, 1.5vw, 30px);
    color: var(--white) !important;
}

.footer_contact a {
    font-family: var(--main_font);
    font-size: clamp(30px, 2vw, 40px);
    text-decoration: underline;
    color: var(--white) !important;
}

.footer_bot p {
    font-family: var(--main_font);
    font-size: clamp(23px, 1.5vw, 30px);
}

@media (min-width: 750px) {
    .footer_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}