.main_menu {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.mainMenu_container {
    width: 90vw;
    height: auto;
    padding-top: 40px;
}

.main_top h4 {
    font-family: var(--main_font);
    font-size: clamp(30px, 2.5vw, 40px);
    color: var(--white2);
}

.main_top p {
    margin-bottom: 20px;
    color: var(--white);
}

.main_top form {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
}

.main_top form input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 50px;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--white2);
}

.main_top form input::placeholder {
    color: var(--white2);
}

.loupe {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 25px;
    color: var(--white);
}

.menu_jour {
    width: 100%;
    height: 55vh;
    position: relative;
    margin-bottom: 30px;
}

.menu_jour img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

.menu_opacity {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 1;
}

.menuDuJour_content {
    z-index: 100;
    position: relative;
    padding-top: 30px;
    padding-left: 15px;
}

.menuDuJour_content h3 {
    font-family: var(--main_font);
    color: var(--white2);
    font-size: clamp(19px, 2vw, 35px);
}

.menuDuJour_content h2 {
    font-family: var(--main_font);
    color: var(--white);
    font-size: clamp(30px, 4vw, 50px);
}

.menuDuJour_content h5 {
    color: var(--white2);
    font-size: clamp(20px, 1.5vw, 31px);
}

.menuDuJour_content button {
    background-color: var(--primary_color);
    color: var(--white);
    padding: 12px 24px;
    border: none;
    font-family: var(--main_font);
    text-transform: capitalize;
    font-size: clamp(20px, 1.5vw, 30px);
    transition: var(--trans);
    cursor: pointer;
}

.menuDuJour_content button:hover {
    background-color: var(--black);
}

.main_cards {
    display: grid;
    width: 100%;
    height: auto;
    gap: 30px;
}

.cards_item {
    padding: 10px 15px;
    background-color: var(--black);
    border-radius: 10px;
    transition: var(--trans);
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.bxs-heart {
    position: relative;
}

.cards_item:hover {
    transform: scale(1.03);
}

.star {
    width: 20px;
}

.card_top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_item .cards_img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 0;
}

.cards_top,
.cards_bot {
    z-index: 100;
}

.cards_bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.cardsBot_left button {
    font-family: var(--main_font);
    background-color: var(--primary_color);
    border: none;
    font-size: clamp(20px, 1vw, 25px);
    cursor: pointer;
    transition: var(--trans);
    color: var(--white);
    padding: 10px 20px;
}

.cardsBot_left button:hover {
    background-color: var(--black);
}

.cardsBot_right button {
    background-color: var(--black);
    cursor: pointer;
    padding: 8px 16px;
    border-radius: .5rem;
    border: none;
}

.cardsBot_left p {
    margin-bottom: 15px;
}

.bx-star {
    position: relative;
    padding-top: 5px;
}

.card_bot h2 {
    font-family: var(--main_font);
    margin-bottom: 15px;
    color: var(--white);
}

.cart_opa {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    top: 0;
    left: 0;
}

.favori {
    color: var(--primary_color);
}

.card_bot p,
.card_bot span {
    font-family: var(--main_font);
    text-transform: capitalize;
    font-size: clamp(20px, 1.5vw, 30px);
    margin-bottom: 15px;
    color: var(--white2);
}

.cardBot_bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.cardBot_left p {
    font-size: 17px;
}

.cardBot {
    display: flex;
    align-items: center;
    height: auto;

}

.cardBot_bot p {
    font-family: "Poppins";
}

.bx-star {
    cursor: pointer;
    font-size: 17px;
}

.cardBot_right .cart {
    cursor: pointer;
}

.more_btn {
    background-color: var(--primary_color);
    color: var(--white);
    border: none;
    font-family: var(--main_font);
    text-transform: capitalize;
    padding: 16px 34px;
    font-size: clamp(20px, 2vw, 30px);
    cursor: pointer;
    margin-top: 12px;
    transition: var(--trans);
}

.more_btn:hover {
    background-color: var(--black);
}

@media (min-width: 660px) {
    .main_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {
    .main_cards {
        grid-template-columns: repeat(4, 1fr);
    }
}