.insc_form h2 {
    font-size: clamp(20px, 4vw, 40px);
}

.insc_form p {
    font-size: clamp(20px, 1.5vw, 30px);
}

.sign_left {
    justify-content: start;
    width: 100%;

}

.sign_content {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.sign_container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}


.ico {
    position: absolute;
    top: 23%;
    right: 1%;
    font-size: 19px;
}

.sign_left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sign_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signR_cont {
    width: 300px;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../assets/img/food.jpg');
    background-position: center;
    background-size: cover;
    border-radius: .5em;
}

.container_input {
    display: grid;
    width: 100%;
    gap: 10px;
}

.insc_form {
    width: 100%;
}

.item_input {
    display: grid;
    position: relative;
}

.item_input input {
    height: 50px;
    background-color: var(--black);
    border: none;
    color: var(--white);
    padding: 5px 10px;
    border-radius: .5rem;
}


.insc_form button {
    width: 100%;
    background-color: var(--primary_color);
    border: none;
    height: 50px;
    color: var(--white);
    border-radius: .5rem;
    cursor: pointer;
    transition: var(--trans);
}

.insc_form button:hover {
    background-color: var(--black);
}

.form_signIn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.form_signIn p {
    font-family: "Poppins";
    font-size: clamp(14px, 0.1vw, 16px);
}

.form_signIn p a {
    color: var(--primary_color);
    transition: var(--trans);
}

.form_signIn p a:hover {
    color: var(--white);
}

.itemInput_choice {
    color: var(--white);
    display: flex;
    align-items: center;
}

.itemInput_choice input {
    height: auto;
}

.sign_logo {
    width: 70px !important;
}

@media (max-width: 740px) {
    .sign_right {
        display: none;
    }

    .sign_left {
        width: 100%;
    }
}